// ********************************************
// *** StudiFood :: Featured Recipes Widget
// ********************************************

section.widget_featuredrecipeswidget {
    margin: 120px 0 70px 0;

    @include media-breakpoint-down(md) {
        margin: 70px 0 70px 0;
    }

    @include media-breakpoint-down(sm) {
        margin: 70px 0 70px 0;
    }

    .col-md-0 {
        margin: 0 !important;
    }

    .headline-box {
        text-align: center;

        .headline-box-inner {
            background: linear-gradient(to left, rgba(black, 1) 20%, rgba(black, 0.7) 70%, rgba(black, 0.3) 100%),
                url("../img/favrecip_bg.png");
            background-size: cover;
            background-position: left;
            padding: 50px 0px 50px 25%;

            @include media-breakpoint-down(md) {
                background: linear-gradient(
                        to bottom,
                        rgba(black, 0.9) 20%,
                        rgba(black, 0.7) 70%,
                        rgba(black, 0.5) 100%
                    ),
                    url("../img/favrecip_bg.png");
                padding: 50px 20px;
            }
        }

        h2 {
            position: unset;
            display: block;
            margin: unset !important;

            &:after,
            &::before {
                content: none;
            }
        }

        p {
            margin-top: 20px;
            font-size: 18px;
            width: 400px;
            position: relative;
            left: 50%;
            transform: translate(-50%) !important;

            @include media-breakpoint-down(md) {
                font-size: 16px;
            }

            @include media-breakpoint-down(sm) {
                width: unset;
            }
        }
    }

    .col-xxl-3 {
        margin-top: 15px;
    }
}

.all-recipes {
    .all-recipes-inner {
        background: black;
        height: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 10px;
    }
}

.recipe-card {
    position: relative;
    height: 350px;
    transition: all 0.4s ease-in-out;

    img {
        //position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &:hover .img_overlay:before {
        opacity: 1;
    }

    .img_overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 10px;
        right: 10px;
        transition: all 0.2s ease-in;
        background: linear-gradient(rgba(black, 0.3) 10%, rgba($primary, 0.7) 70%, rgba($primary, 1) 100%);

        &::before {
            opacity: 0;

            background: linear-gradient(rgba($primary, 0) 0%, rgba($primary, 0.5) 40%, rgba($primary, 1) 60%);
            transition: all 0.4s ease-in-out;
            content: "";
            display: block;
            width: 100%;
            height: 100%;
        }
    }

    p {
        position: absolute;
        z-index: 999;
        bottom: 10px;
        left: 45px;
        width: 60%;
        font-weight: 700;
        font-size: 20px;

        @include media-breakpoint-down(sm) {
            left: 25px;
            bottom: 0px;
        }
    }

    a {
        color: white;
    }
}
