#footer {
    margin-top: 70px;
    background: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
        url("../img/bg.png");
    background-size: cover;

    .totop {
        position: absolute;
        right: 40px;
        margin-top: 30px;
        width: auto;
        text-align: center;

        @include media-breakpoint-down(sm) {
            right: unset;
            left: 50%;
            transform: translate(-50%);
        }

        span {
            color: white;
            
            @include media-breakpoint-down(sm) {
                font-size: 12px;
            }
        }

        &:before {
            content: "";
            width: 30px;
            height: 30px;
            border-left: 5px solid white;
            border-top: 5px solid white;
            transform: rotate(45deg) translate(-50%);
            display: block;
            left: 50%;
            position: relative;
            top: 15px;
            transition: 0.3s all ease-in-out;

            @include media-breakpoint-down(sm) {
                width: 25px;
                height: 25px;
                border-left: 4px solid white;
                border-top: 4px solid white;
            }

        }

        &:hover:before {
            top: 10px;
            transition: 0.3s all ease-in-out;
            border-left: 5px solid $primary;
            border-top: 5px solid $primary;

            @include media-breakpoint-down(sm) {
                border-left: 4px solid $primary;
                border-top: 4px solid $primary;
            }

        }
    }

    .container--1 {
        padding: 50px 15px 30px;

        h3 {
            padding: 50px 0 5px;
        }

        .col--0 {
            img {
                width: 175px;
                height: auto;
                margin-left: -50px;

                @include media-breakpoint-down(sm) {
                    margin-left:0;
                    top: 50px;
                    position: relative;
                    left: 50%;
                    transform: translate(-50%);
                }
            }
        }

        .col--1 h3:after {
            margin: 0 100px 0 30px;

            @include media-breakpoint-down(md) {
                margin: 0 50px 0 30px;
            }

            @include media-breakpoint-down(sm) {
                margin: 0 0px 0 30px;
            }
        }

        ul {
            list-style: none;
            padding: 0px;
            li {
                margin: 10px 0;

                a {
                    color: white;
                    letter-spacing: 1.2;

                    &:hover {
                        color: $primary;
                    }
                }
            }
        }
    }

    .col--3 {
        img {
            max-width: 200px;
            height: auto;
            margin: 30px 0;
        }
    }

    .col--2 {
        a,
        p {
            font-size: 16px;
        }

        .btn {
            margin: 20px 0 10px;
            padding: 5px 20px;
        }

        img {
            max-height: 35px;
            width: auto;
            margin: 0px 20px 30px 0;
        }
    }
}
