nav.nav {
    position: fixed;
    width: 100%;
    visibility: hidden;
    height: 0%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 15;
    opacity: 0;
    overflow-y: hidden;
    transition: 1.5s all ease;
    transition-delay: 0.0s;
    background: $secondary
        linear-gradient(
            to top,
            rgba(20, 20, 20, 0) 0%,
            rgba(20, 20, 20, 0.3) 30%,
            rgba(20, 20, 20, 0.7) 70%,
            #141414 100%
        );

    &::-webkit-scrollbar {
        display: none;
    }

    .col-12 {
        height: 100vh;
    }

    ul {
        text-align: center;
        list-style: none;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        padding:0;

        li {
            margin-bottom: 30px;
            top: 50%;
            position: relative;
            opacity: 0;
            transition: 0.5s all ease;

            @include media-breakpoint-down(lg) {
                margin-bottom: 30px;
            }

            @include media-breakpoint-down(md) {
                margin-bottom: 20px;
            }

            @include media-breakpoint-down(sm) {
                margin-bottom: 10px;
            }

            a {
                position: relative;
                font-size: 90px;
                color: white;
                font-weight: bolder;
                margin: 10px 0 30px;
                width: fit-content;

                @include media-breakpoint-down(lg) {
                    font-size: 70px;
                }

                @include media-breakpoint-down(md) {
                    font-size: 50px;
                }

                @include media-breakpoint-down(sm) {
                    font-size: 35px;
                    margin: 10px 0 20px;
                }

                &:after {
                    position: absolute;
                    left: 0%;
                    transform: translate(-50%);
                    height: 8px;
                    content: "";
                    background: $primary;
                    display: block;
                    transition: 1s all ease;
                    transform: scale(0);

                    @include media-breakpoint-down(sm) {
                        height: 4px;
                    }

                }

                &:hover:after {
                    width: 100%;
                    transform: scale(1);
                    transition: 1s all ease;
                }
            }
        }
    }
}

nav.active {
    position: fixed;
    visibility: visible;
    width: 100%;
    height: 100%;
    background: $secondary
        linear-gradient(
            to top,
            rgba(20, 20, 20, 0) 0%,
            rgba(20, 20, 20, 0.3) 30%,
            rgba(20, 20, 20, 0.7) 70%,
            #141414 100%
        );
    z-index: 9999;
    opacity: 1;
    transition: .8s opacity ease-in-out;

    @for $i from 1 through 10 {
        ul li:nth-child(#{$i}) {
            transition:  calc( 0.5s * #{$i} ) opacity ease;
            transition-delay: calc( 0.2s * #{$i} ) ;
            opacity: 1;
            top:0px;
            position: relative;

            @include media-breakpoint-down(md) {
                padding: 20px 0;
            }
        }
    }
}




/********************************************************/
/*** OVERLAY ********************************************/
/********************************************************/

.overlayclick {
	position: fixed;
	z-index: 9999;
    background: $secondary
        linear-gradient(
            to top,
            rgba(20, 20, 20, 0) 0%,
            rgba(20, 20, 20, 0.3) 30%,
            rgba(20, 20, 20, 0.7) 70%,
            #141414 100%
        );
	top: 0;
	height: 0;
	width: 100%;
    left: 0;
    opacity: 0;
    overflow: hidden;
    display: block
}

.overlay {
	position: fixed;
    background: $secondary
        linear-gradient(
            to top,
            rgba(20, 20, 20, 0) 0%,
            rgba(20, 20, 20, 0.3) 30%,
            rgba(20, 20, 20, 0.7) 70%,
            #141414 100%
        );
	z-index: 9999;
	top: 0;
	height: 100%;
	width: 100%;
    left: 0;
    opacity: 1;
	overflow: hidden;
}

.overlaymenu {
	position: fixed;
    background: $secondary
        linear-gradient(
            to top,
            rgba(20, 20, 20, 0) 0%,
            rgba(20, 20, 20, 0.3) 30%,
            rgba(20, 20, 20, 0.7) 70%,
            #141414 100%
        );
	z-index: 99999;
	bottom: 0;
	height: 100%;
	width: 100%;
   	left: 0;
	display: none;
}

.loaded .overlay {
    animation: overlayAnimation 1.2s;
    height: 0; 
    opacity: 0;
}

@keyframes overlayAnimation {0% {height: 100%; opacity: 1;}  100% {height: 0; opacity: 0;}}

