.wp-block-studifood-ownrecipe {
    margin: 70px 0 40px 0;

    @include media-breakpoint-down(sm) {
        margin: 50px 0 0 0;
    }

    &.list {
        margin: 20px 0 120px 0 ;
    }

    img {
        width: 100%;
        height: auto;
    }
    
    text-align:center;

    .container {
        padding-right: 20px;
        padding-left: 20px;
        background: #010101;

        .col--1 {
            
            padding: 30px 20px;
        }
    }

    h2 {
        display: block;
        margin: 20px 0px 10px !important;
        padding-bottom: 20px !important;

        &:before, &:after {
            content: unset;
        }
    }

}

.wp-block-studifood-ownrecipe.content {

    .container {
        background: unset;

        .col--1 {
            background: #010101;
        }
    }
}