.wprm-recipe-video-container {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;

    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 0;
    }
}

section.recipes {

    .slick-slide {
        padding: 0 20px;
        box-sizing: border-box;
        height: auto;

        @include media-breakpoint-down(md) {
            padding: 0 10px;
        }
    }

    .container-fluid {
        padding: 0;
    }

    .sf-slider-wrapper {
        max-height: 500px;
        margin-top: 100px;
    }

    .sf-slider-element img {
        width: calc(100vw / 2.8);
        height: auto;

        @include media-breakpoint-down(md) {
            width: calc(100vw / 2.5);
        }

        @include media-breakpoint-down(sm) {
            width: calc(100vw / 2);
        }

        @include media-breakpoint-down(xs) {
            width: calc(100vw / 1.4);
        }
    }

    .slick-prev,
    .slick-next {
        width: 70px;
        height: 40px;
        background: url(../img/PfeilWhite.svg);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        z-index: 12;
        opacity: 0.9;

        &:hover {
            opacity: 1;
        }

        &:before {
            content: "";
        }
    }

    .slick-prev {
        transform: rotateY(180deg);
        margin: -20px 0 0 0;

        @include media-breakpoint-down(sm) {
            height: 30px;
            left: 0px;
        }
    }

    .slick-next {
        @include media-breakpoint-down(sm) {
            height: 30px;
            right: 0px;
        }
    }

    p.has-text-align-center {
        width: 50%;
        font-size: 24px;
        position: relative;
        left: 50%;
        transform: translate(-50%);

        @include media-breakpoint-down(lg) {
            width: 70%;
            font-size: 20px;
        }

        @include media-breakpoint-down(sm) {
            width: 90%;
            font-size: 16px;
        }
    }

    .content {
        margin: 100px 0;
    }

    .wprm-recipe-details-label {
        margin-right: 20px;
        font-size: 21px;
    }

    .print-button {
        border-radius: 0;
        border: 3px solid black;
        padding: 10px 30px;
        margin-top: 40px;

        background-color: black;
        max-width: 600px;
        text-align: center;

        position: relative;
        left: 50%;
        transform: translate(-50%);

        &:hover {
            background: transparent;
        }

        .wprm-recipe-print {
            width: auto;
            color: white !important;
            text-transform: uppercase;
            font-weight: 600;
            letter-spacing: 2.3px;

            .wprm-recipe-icon {
                margin-right: 10px;
            }

            path {
                fill: white;
            }
        }
    }

    .wprm-recipe-servings-text-buttons-container {
        margin-bottom: 20px;

        .wprm-recipe-servings {
            background: none;
            border: 0px !important;
            color: white;
            font-size: 30px !important;
            position: relative;
            bottom: 5px;
            line-height: 1;
        }
        .wprm-recipe-servings-decrement {
            width: 25px;
            height: 25px;
            background-color: unset !important;
            border: 0px;
            background: url(../img/Circle.svg);
            background-size: cover;
            background-position: center;
            vertical-align: middle;
            line-height: 1.4;
            margin-right: 10px;
        }
        .wprm-recipe-servings-increment {
            background-color: unset !important;
            vertical-align: middle;
            border: 0px;
            width: 25px;
            height: 25px;
            background: url(../img/Circle.svg);
            background-size: cover;
            background-position: center;
            line-height: 1.4;
            left: 30px;
            right: 30px;
            margin-left: 10px;
        }
    }

    .wprm-timer-link,
    .timer-ico {
        &:before {
            content: "";
            width: 30px;
            height: 30px;
            margin-bottom: 5px;
            display: inline-block;
            background: url(../img/TimerWhite.svg);
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            vertical-align: middle;
            margin-right: 7px;

            @include media-breakpoint-down(md) {
                width: 20px;
                height: 20px;
            }
        }
    }

    .aufwand-ico {
        &:before {
            content: "";
            width: 30px;
            height: 30px;
            margin-bottom: 5px;
            display: inline-block;
            background: url(../img/KochmuetzeWhite.svg);
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            vertical-align: middle;
            margin-right: 7px;

            @include media-breakpoint-down(md) {
                width: 20px;
                height: 20px;
            }
        }
    }

    .mahlzeit-ico {
        &:before {
            content: "";
            width: 30px;
            height: 30px;
            margin-bottom: 5px;
            display: inline-block;
            background: url(../img/TopfWhite.svg);
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            vertical-align: middle;
            margin-right: 7px;

            @include media-breakpoint-down(md) {
                width: 20px;
                height: 20px;
            }
        }
    }
}

.wprm-recipe-container {
    .wprm-recipe-notes {
        margin: 50px 0;
        text-align: center;
    }

    h3 {
        &:after {
            margin-left: 30px;
            margin-right: 50px;

            @include media-breakpoint-down(sm) {
                margin-right: 0px;
            }
        }
    }

    ul.wprm-recipe-ingredients,
    ul.wprm-recipe-equipment {
        padding: 30px;
        background: black;
        margin-right: 100px;
        list-style: none;

        @include media-breakpoint-down(xl) {
            margin-right: 40px;
        }

        @include media-breakpoint-down(sm) {
            margin-right: 0px;
        }
    }

    ul.wprm-recipe-equipment {
        @include media-breakpoint-down(sm) {
            h3 {
                margin-right: 0;
            }
        }
    }

    li.wprm-recipe-ingredient,
    li.wprm-recipe-equipment-item {
        display: flex;
        width: 100%;
        justify-content: space-between;
        padding: 7px 0;
        border-bottom: 2px solid rgba(255, 255, 255, 0.2);
        font-size: 18px;
        margin: 0px;

        @include media-breakpoint-down(md) {
            font-size: 16px;
        }
    }

    ul.wprm-recipe-equipment {
        @include media-breakpoint-up(lg) {
            margin-top: 98px;
        }
    }

    @for $i from 1 through 20 {
        ul.wprm-recipe-instructions li:nth-child(#{$i}) {
            &:before {
                content: "#{$i}.";
                top: -40px;
                left: 0px;
                font-size: 70px;
                position: relative;
                display: inline;
                font-family: "Segoe Print", "Segoe Print1", "Courier New", Courier, Georgia, Times, "Times New Roman",
                    serif;

                @include media-breakpoint-down(md) {
                    top: 0px;
                }
            }
        }
    }

    ul.wprm-recipe-instructions {
        padding: 0;

        li {
            margin: 0;
        }

        &:before {
            content: "";
        }
    }

    .wprm-recipe-instruction {
        display: flex;
        padding: 30px 0;

        list-style-type: decimal;
        font-size: 21px;

        @include media-breakpoint-down(lg) {
            font-size: 18px;
        }

        @include media-breakpoint-down(md) {
            flex-direction: column;
            font-size: 16px;
        }

        .wprm-recipe-instruction-text {
            width: 60%;
            padding-right: 50px;
            padding-left: 30px;
            line-height: 1.8;
            font-weight: 100;

            @include media-breakpoint-down(md) {
                width: 100%;
                padding-right: 0px;
                padding-left: 0px;
                padding-bottom: 20px;
                order: 2;
            }
        }

        .wprm-recipe-instruction-media {
            width: 40%;
            height: 0;
            overflow: hidden;
            padding-top: 25%;
            background: white;
            position: relative;

            @include media-breakpoint-down(md) {
                width: 100%;
                padding-top: 60%;
                order: 1;
            }

            img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}

.recipe-facts {
    display: flex;

    flex-wrap: wrap;
    justify-content: stretch;
    margin-top: 165px;

    @include media-breakpoint-down(lg) {
        margin-top: 0px;
        justify-content: center;
    }
}

.recipe-fact {
    padding-right: 10px;
    padding-bottom: 30px;

    .recipe-fact-circle {
        min-height: 60px;
        width: auto;
        padding: 10px;
        font-size: 18px;
        color: white;
        background: $secondary;
        //border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        hyphens: auto;
        text-align: center;

        p {
            font-size: 18px;
            margin-bottom: 0;

            @include media-breakpoint-down(md) {
                font-size: 16px;
            }
        }

        @include media-breakpoint-down(md) {
            font-size: 16px;
            min-height: 50px;
        }
    }
    .recipe-fact-notes {
        font-size: 20px;
        margin-top: 10px;
        text-align: center;

        @include media-breakpoint-down(md) {
            font-size: 18px;
        }
    }
}

.wp-video-shortcode video,
video.wp-video-shortcode {
    max-width: 100%;
    height: auto;
    display: inline-block;
}

section.morerecipes {
    margin-bottom: 100px;

    .recipe-card {
        @include media-breakpoint-down(md) {
            margin-bottom: 20px;
        }
    }
}

.comments-title {
    margin-top: 70px !important;
}
