@import url("https://use.typekit.net/wvy7edt.css"); // rockwell

@font-face {
    font-family: "Segoe Print1";
    src: url("//db.onlinewebfonts.com/t/c455d94eee43dc4ceeb83c0c0fd0d4c8.eot");
    src: url("//db.onlinewebfonts.com/t/c455d94eee43dc4ceeb83c0c0fd0d4c8.eot?#iefix") format("embedded-opentype"),
        url("//db.onlinewebfonts.com/t/c455d94eee43dc4ceeb83c0c0fd0d4c8.woff2") format("woff2"),
        url("//db.onlinewebfonts.com/t/c455d94eee43dc4ceeb83c0c0fd0d4c8.woff") format("woff"),
        url("//db.onlinewebfonts.com/t/c455d94eee43dc4ceeb83c0c0fd0d4c8.ttf") format("truetype"),
        url("//db.onlinewebfonts.com/t/c455d94eee43dc4ceeb83c0c0fd0d4c8.svg#Segoe Print") format("svg");
}

.select2-dropdown {
    background-color: $primary;
    color: black;
}

html {
    overflow-x: hidden;
}

body {
    font-family: Rockwell, rockwell, "Courier New", Courier, Georgia, Times, "Times New Roman", serif;
    overflow-x: hidden;
    height: 100%;
    width: 100%;
}

#wpadminbar {
    p,
    a {
        font-weight: unset !important;
        font-family: unset !important;
    }
}

h2,
h3,
h4,
h5 {
    font-family: "Segoe Print", "Segoe Print1", "Courier New", Courier, Georgia, Times, "Times New Roman", serif;

    @include media-breakpoint-down(sm) {
        white-space: normal !important;
    }
}

p,
label,
a,
button {
    font-family: Rockwell, rockwell, "Courier New", Courier, Georgia, Times, "Times New Roman", serif !important;
}

h2 {
    // text-align: center;
    // position: relative;
    // display: flex;
    // white-space: nowrap;
    margin: 70px 0 50px 0 !important;
    font-size: 55px;

    display: grid;
    grid-template-columns: minmax(20px, 1fr) auto minmax(20px, 1fr);
    align-items: center;
    text-align: center;
    grid-gap: 20px;
    width: 100%;

    &:after,
    &:before {
        content: "";
        border-top: 2px solid $secondary;
    }

    &.left {
        grid-template-columns: minmax(20px, 50px) auto minmax(20px, 1fr);
    }
}

h2 {
    font-size: 60px;

    @include media-breakpoint-down(xl) {
        font-size: 50px;
    }

    @include media-breakpoint-down(lg) {
        font-size: 40px;
    }

    @include media-breakpoint-down(md) {
        font-size: 30px;
    }
}

h3 {
    // position: relative;
    // display: flex;
    // white-space: nowrap;
    margin: 30px 0 40px 0 !important;
    font-size: 30px;

    display: grid;
    grid-template-columns: auto minmax(20px, 1fr);
    align-items: center;
    grid-gap: 20px;
    width: 100%;

    @include media-breakpoint-down(xl) {
        font-size: 30px;
    }

    @include media-breakpoint-down(lg) {
        font-size: 30px;
    }

    @include media-breakpoint-down(md) {
        font-size: 25px;
    }

    &:after {
        content: "";
        border-top: 2px solid $secondary;

        // width: -moz-available;
        // width: -webkit-fill-available;
        // width: fill-available;
        // height: 2px;
        // background: #c4431c;
        // content: "";
        // position: relative;
        // display: inline-block;
        // vertical-align: middle;
        // margin-left: 30px;
        // align-self: center;
    }

    // &:before {
    //     align-self: center;
    // }
}

p {
    line-height: 1.6;
    font-size: 20px;
    font-weight: 100;

    @include media-breakpoint-down(md) {
        font-size: 18px;
    }
}

.btn.btn-primary {
    color: white;
    border-radius: 0;
    padding: 10px 30px 5px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2.3px;
    color: black;

    &:hover {
        background: transparent;
        color: $primary;
    }
}

.btn.btn-secondary {
    border: none;
    background: none;
    text-transform: uppercase;
    transition: 0.15s all ease-in-out;
    font-weight: 400;
    letter-spacing: 3px;
    text-align: center;

    &:after {
        content: "";
        margin-top: 15px;
        display: block;
        width: 100%;
        height: 2px;
        background: $primary;
        transition: 0.15s all ease-in-out;
    }

    &:hover:after {
        // margin-left: 70px;
        // transition: .2s all ease-in-out;
    }

    &:hover {
        // margin-right: 10px;
        // transition: .3s all ease-in-out;
        color: $primary;
    }
}

.wp-block-buttons {
    justify-content: center;
    margin-top: 30px;
}

.searchbar {
    form {
        padding: 0px;
        margin-top: 30px;
        width: 100%;
        display: flex;

        input[type="text"] {
            width: 100%;
        }
    }

    input[type="text"] {
        width: 100%;
        height: 45px;
        padding: 20px;
        border: 2px solid $primary;
        background: none;
        color: white;
    }

    input[type="submit"],
    button {
        width: 45px !important;
        height: 45px !important;
        background: $primary url(../img/Lupe.svg);
        font-size: 0px;
        border: 2px solid $primary;
        background-position: center;
        background-size: 25px;
        background-repeat: no-repeat;
    }
}

.filterbar {
    ul.filterbarul {
        padding: 0px;
        width: 100%;
        display: flex;
        list-style: none;

        @include media-breakpoint-down(md) {
            display: block;
        }

        li.filterbarli {
            width: 100%;
            width: -moz-available; /* WebKit-based browsers will ignore this. */
            width: -webkit-fill-available; /* Mozilla-based browsers will ignore this. */
            width: fill-available;
            margin-left: 10px;
            margin-top: 20px;

            @include media-breakpoint-down(md) {
                display: block;
                width: 100%;
                margin: 0;
                margin-bottom: 10px;
            }

            label {
                margin-top: 10px;
            }

            @include media-breakpoint-up(lg) {
                label {
                    display: none;
                }
            }


        }

        li.filterbarli:first-of-type {
            margin: 0;
            margin-top: 20px;

            @include media-breakpoint-down(md) {
                margin-bottom: 10px;
                margin-top: 30px;
            }
        }

        .select2, .select2-container--default, .select2-search__field {
            font-family: Rockwell, rockwell, "Courier New", Courier, Georgia, Times, "Times New Roman", serif !important;

        }

        .dropdown-wrapper  {
            background: $primary !important;
            color: black !important;
        }

        .select2.select2-container {
            border: 2px solid $primary !important;
            background: none !important;
            color: black !important;
            width: 100% !important;
            min-height: 45px;
        }

        .select2-selection {
            background: transparent;
            border: 0px;
            padding: 4px 19px 4px 15px;
        }

        .dropdown-wrapper {
            color: black !important;
            background: $primary !important;
        }

        .select2-selection__choice {
            background: $primary;
            font-size: 12px;
            border: 2px solid $primary;
            border-radius: 0px;
            color: black;
        }

        .select2-selection__choice__remove {
            color: black !important;
            border-color: black;

            &:hover {
                color: #b94a48 !important;
            }
        }

        .select2-selection__choice__remove:hover {
            background: transparent;
        }

        button.search {
            padding: 10px 20px;
            margin-bottom: 20px;
            height: 45px;
            background: $primary;
            border: 2px solid $primary;
            color: black;
            width: 100%;
            transition: 0.15s all ease-in-out;

            &:hover {
                background: transparent;
                color: $primary;
            }

            @include media-breakpoint-down(md) {
                width: 100%;
            }
        }
    }
}

.wprm-rating-star svg g polygon {
    stroke: #fff !important;
}
.wprm-rating-star-full svg g polygon {
    fill: #fff !important;
    stroke: #fff !important;
}
.wprm-rating-star-empty svg g polygon {
    fill: transparent !important;
    stroke: #fff !important;
}
.wprm-rating-star-selecting-filled svg g polygon {
    fill: #fff !important;
}
.wprm-rating-star-selecting-empty svg g polygon {
    fill: transparent !important;
}

.container.head {
    h3 {
        text-align: center;
        // position: relative;
        // display: flex;
        // white-space: nowrap;
        margin: 70px 0 00px 0;

        display: grid;
        grid-template-columns: minmax(20px, 50px) auto minmax(20px, 1fr);
        align-items: center;
        text-align: center;
        grid-gap: 20px;
        width: 100%;

        &:after,
        &:before {
            // width: fill-available;
            // height: 2px;
            // background: #c4431c;
            // content: "";
            // position: relative;
            // display: inline-block;
            // vertical-align: middle;

            content: "";
            border-top: 2px solid $secondary;
        }

        // &:after {
        //     margin-left: 30px;
        // }

        // &:before {
        //     margin-right: 20px;
        //     width: 50px;
        // }
    }
}

.scroll-bar-outer {
    height: 5px;
    width: 100vw;
    position: fixed;
    right: 0px;
    left: 0px;
    top: 0px;
    z-index: 999;
}

#scroll-bar {
    background: #c1b19a;
    width: 0%;
    height: 100%;
    transition: 0.1s all ease-out;
}

// PAGE TEMPLATE :: TEXT ONLY

section.template-text {
    h4 {
        margin-top: 50px;
    }
}

#page404 {
    p {
        text-align: center !important;
    }
}

.loading-screen {
    position: absolute;
    padding-left: 0;
    padding-bottom: 0;
    padding-top: 0;
    background-color: #c1b19a;
    width: 100%;
    height: 0%;
    z-index: 99999;
}

.load-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: 10;
    pointer-events: none;
}

input[type="text"],
input[type="email"] {
    height: 40px;
    padding: 20px;
    border: 2px solid $primary;
    border-radius: 0px;
    background: transparent;
    color: white;

    &:hover,
    &:focus,
    &:active {
        background: transparent !important;
    }
}

textarea {
    padding: 20px;
    border: 2px solid $primary;
    border-radius: 0px;
    background: transparent;
    color: white;

    &:hover,
    &:focus,
    &:active {
        background: transparent !important;
    }
}

input[type="submit"] {
    color: black;
    background-color: $primary;
    border-radius: 0;
    border: 2px solid $primary;
    padding: 10px 30px 10px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2.3px;
    font-size: 16px;
    transition: 0.15s all ease;

    &:hover {
        background: transparent;
        color: $primary;
        border: 2px solid $primary;
        transition: 0.15s all ease;
    }
}

input[type="file"]::-webkit-file-upload-button {
    visibility: hidden;
    display: none;
}
input[type="file"]::before {
    content: "Dateien auswählen";
    display: inline-block;
    border: 2px solid $primary;
    color: black;
    background-color: $primary;
    border-radius: 0;
    padding: 7px 20px 5px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2.3px;
    font-size: 14px;
    transition: 0.15s all ease;
    margin-right: 20px;
}
input[type="file"]:hover::before {
    background: transparent;
    color: $primary;
    border: 2px solid $primary;
    transition: 0.15s all ease;
}
input[type="file"]:active::before {
    background: transparent;
    color: $primary;
    border: 2px solid $primary;
    transition: 0.15s all ease;
}

select {
    padding: 10px 20px;
    border: 2px solid $primary;
    background: transparent;
    color: white !important;

    &:hover {
        background: transparent;
        color: white;
        border: 2px solid $primary;
        transition: 0.15s all ease;
    }
}

@include media-breakpoint-down(md) {
    input[type="file"] {
        display: flex !important;

        &:before {
            margin: 0;
            white-space: pre-wrap;
        }
    }
}

.alert {
    padding: 0;
    margin-bottom: 0;
    border: 0;
    font-size: 14px;
    color: #b94a48;
    font-weight: 100;
}

.wprm-recipe-submission {
    label {
        margin-top: 30px !important;
    }

    .is-invalid {
        border-color: #b94a48;
    }

    option {
        background: $primary;
        color: black;
    }

    input,
    select,
    textarea {
        margin-bottom: 00px;
    }

    h3 {
        margin: 70px 0 20px !important;
    }

    input[type="submit"] {
        margin-top: 30px;
    }

    .wprmprs-layout-block-recipe_total_time,
    .wprmprs-layout-block-recipe_servings,
    .wprmprs-layout-block-recipe_custom_taxonomy {
        width: 100%;

        input {
            display: inline-block;
        }

        select {
            width: 100%;
        }
    }

    .wprmprs-layout-block-submit {
        input[type="submit"] {
            white-space: pre-wrap;
        }
    }

    // .wprmprs-layout-block-recipe_servings, .wprmprs-layout-block-recipe_total_time, .wprmprs-layout-block-recipe_custom_taxonomy {
    //     float: left;
    //     width: calc(100%/4);
    //     margin: auto;

    //     select, input {
    //         width: calc(100% - 20px);
    //         position: relative;
    //     }
    // }
}
