// INCLUDE YOUR STYLES HERE!

@import 'start';
@import 'style';
@import 'stage';
@import 'footer';
@import 'aboutus';
@import 'favrecipes';
@import 'slick';
@import 'recipe';
@import 'allrecipes';
@import 'nav';
@import 'comments';
@import 'contact';
@import '../../node_modules/aos/dist/aos.css'; 
@import '../../node_modules/chosen-js/chosen.css'; 


.all-recipe-card {
    background: white;
    color: black;
    margin-top: 50px ;
    margin-bottom: 50px;

    img {
        width: 100%;
        height: 300px;
        object-fit: cover;
        object-position: center;
    }
}


